@font-face {
  font-family: "Kollektif";
  src: url("fonts/Kollektif.ttf");
}

@font-face {
  font-family: "Kollektif-Bold";
  src: url("fonts/Kollektif-Bold.ttf");
}

@font-face {
  font-family: "Kollektif-Italic";
  src: url("fonts/Kollektif-Italic.ttf");
}

@font-face {
  font-family: "Kollektif-ItaBold";
  src: url("fonts/Kollektif-BoldItalic.ttf");
}

body {
  font-family: "Kollektif";
  background-color: #f9d29d;
  background: linear-gradient(to left, #f9d29d 0%, #ffd8cb 74%);
}

.alert {
  border-radius: 40px;
}

.card {
  border-radius: 20px;
  width: 200px;
  margin: 10px;
  transform-style: preserve-3d;
  transition: all 0.25s ease-in-out;
  box-shadow: rgba(61, 60, 60, 0.45) 0px 25px 20px -20px;
}

.moveDiv {
  box-shadow: rgba(61, 60, 60, 0.45) 0px 25px 20px -20px;
}

.card:active {
  transform: rotateY(180deg);
}

.card:hover {
  cursor: pointer;
}

.front {
  backface-visibility: hidden;
  /* height: 100%; */
  overflow: hidden;
  width: 100%;
}

.back {
  position: absolute;
  top: 5%;
  left: 25%;
  transform: rotateY(180deg);
}

.card-title {
  text-transform: capitalize;
  font-family: "Kollektif-Bold";
}

.card-subtitle {
  font-family: "Kollektif-Italic";
}

.moveRow {
  border-radius: 40px;
  padding: 20px;
  margin: 10px;
}
.pokeID {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
}

.pokeType {
  background-color: cadetblue;
  border-radius: 20px;
  padding: 5px 10px;
}

.form-control {
  border-radius: 40px;
  border: 2px solid #5b6467;
}

#searchBar,
#searchMoveBar {
  background: transparent;
  margin-top: 25px;
  margin-bottom: 25px;
}

#searchBar:focus,
#searchMoveBar:focus {
  border: 2px solid rgba(0, 0, 0, 1);
}
